$font-size: 25px;
$white: #fff;
$black: #000;
$border-radius: 16px;

@mixin flex-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal {
  @include flex-box;
  position: fixed;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  inset: 0px;

  &__box {
    position: relative;
    max-width: 90%;
    min-width: 50%;
    border: 1px solid rgb(187, 187, 187);
    padding: 5px;
    border-radius: $border-radius;
    background: $white;
  }

  &__content {
    @include flex-box;
    text-align: center;
    font-size: $font-size;
    background-color: $white;
  }

  .closebtn {
    display: block;
    cursor: pointer;
    position: absolute;
    border: none;
    padding: 2px 5px;
    line-height: 20px;
    right: 6px;
    top: 6px;
    font-size: $font-size;
    color: $white;
    background: $black;
    border-radius: $border-radius + 2px;
  }  
}
