@import "../../../../styles/variables";

@mixin flex-form($flex-direction: column) {
  display: flex;
  flex-direction: $flex-direction;
}

.form {
  &__input {
    @include flex-form;
    margin: auto;
    width: 65%;
    padding: 20px;
    border-radius: 16px;
    background-color: $misty;
  }

  &__update {
    @include flex-form(row);
    justify-content: space-between;
  }
}
