$white: #fff;
$black: #000;
$misty: #f6f6f6;

$font-size: 20px;
$border-radius: 5px;
$padding: 10px 20px;
$border-bottom: 1px solid #dedede;

$color: (
  "red": #d86969,
  "dark-red": #a73737,
  "blue": #81c4de,
  "dark-blue": #3788a7,
  "grey": #d3d3d3,
  "dark-grey": #a9a9a9,
  "cherry": #f44336,
  "light": #ccc,
  "dark-light": #a9a9a9,
);
