@import "../../../../styles/variables";

.calculator {
  .title {
    border: 4px solid black;
    text-align: center;
    padding: 60px;
    font-family: sans;
    .slogan {
        font-size: 18px;
        color: rgba(0,0,0,0.3);
    }
}

  &__body {
    @include flex-style;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    max-width: 390px;
    box-shadow: 0px 2px 64px rgb(0, 0, 0.2);
    background-color: $white;
    border-radius: $border-radius + 11px;
  }

  &__display {
    @include flex-style;
    text-align: right;
    width: 100%;
    height: 200px;
    background-color: $dark;

    &-input {
      color: $silver;
      font-size: $font-size + 20px;
      padding: 22px 16px 5px 16px;
    }

    &-result {
      color: $white;
      font-size: $font-size + 30px;
      padding: 12px 16px 5px 16px;
    }
  }
}
