@import "../../../../styles/variables";

@mixin form {
  cursor: pointer;
  text-align: center;
  border: none;
  margin: 5px 0px;
  padding: $padding;
  font-size: $font-size - 5px;
  border-radius: $border-radius;
}

@mixin button-pick {
  border: none;
  margin: 5px;
  border-radius: $border-radius;
}

.btn {
  &-submit {
    @include form;
    width: 100%;
  }

  &-update {
    @include form;
    width: 45%;
  }

  &-action {
    @include button-pick;
    width: 50%;
    height: 50px;
    font-size: $font-size;
  }

  &-oke {
    @include button-pick;
    height: 50px;
    font-size: $font-size;
  }

  &-choose {
    @include button-pick;
    padding: $padding;
  }

  &-red {
    background-color: map-get($color, "red");
    color: $white;
    &:active {
      background-color: map-get($color, "dark-red");
    }
  }

  &-blue {
    background-color: map-get($color, "blue");
    color: $black;
    &:active {
      background-color: map-get($color, "dark-blue");
    }
  }

  &-grey {
    background-color: map-get($color, "grey");
    color: $black;
    &:active {
      background-color: map-get($color, "dark-grey");
    }
  }

  &-cherry {
    background-color: map-get($color, "cherry");
    color: $white;
    &:active {
      background-color: map-get($color, "dark-red");
    }
  }

  &-light {
    background-color: map-get($color, "light");
    color: $black;
    &:active {
      background-color: map-get($color, "dark-light");
    }
  }
}
