@import "../../../../styles/variables";

@mixin flex-list($direction: column) {
  display: flex;
  flex-direction: $direction;
}

.list {
  @include flex-list;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;

  &__head {
    @include flex-list;
  }

  &__title {
    color: map-get($color, "blue");
  }

  &__body {
    @include flex-list;
    width: 100%;
  }

  &__data {
    @include flex-list(row);
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: $border-bottom;
  }

  &__empty {
    @include flex-list;
    border-bottom: $border-bottom;
  }
}
