html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  color: #404040;
  background: white;
  font-size: 1rem;
}

// .flex-large {
//   padding-left: 1rem;
//   padding-right: 1rem;
//   flex-basis: 100%;
//   margin-bottom: 1rem;
// }

// .list-head {
//   display: table;
//   border-collapse: collapse;
//   border-spacing: 0;
//   width: 100%;
//   max-width: 100%;
//   box-sizing: border-box;
//   text-indent: initial;
//   border-color: grey;
// }

// .list-body {
//   display: table-row-group;
//   vertical-align: middle;
//   border-color: inherit;
// }

// .full-list {
//   display: table-row;
//   vertical-align: inherit;
//   border-color: inherit;
// }

// .list {
//   text-align: left;
//   padding: 0.5rem;
//   border-bottom: 1px solid #dedede;
//   display: table-cell;
//   vertical-align: inherit;
// }
