.container {
  margin: auto;
  width: 65%;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #f6f6f6;
  padding: 20px;
  text-align: center;
}

.input-data {
  display: flex;
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid #81c4de;
  border-radius: 6px;
  font-size: 15px;
  outline: none;

  &:focus {
    border-color: #3788a7;
  }
}

.btn {
  padding: 10px 20px;
  margin: 5px 0px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

.btn-submit,
.btn-update {
  background-color: #81c4de;
  border: 1px solid #3788a7;

  &:active {
    background-color: #3788a7;
  }
}

.btn-submit {
  width: 100%;
}

.btn-update,
.btn-cancel {
  width: 45%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.btn-cancel {
  background-color: #d3d3d3;
  border: 1px solid #a9a9a9;

  &:active {
    background-color: #a9a9a9;
  }
}
